<article class="product-card">
  <a class="product-image" href="{{ url_for('product_detail', product_id=product.id) }}"><img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}">{% if product.featured %}<span>Nuevo</span>{% endif %}</a>
  <div class="product-info"><div><small>{{ product.category }} · {{ product.size }}</small><h3><a href="{{ url_for('product_detail', product_id=product.id) }}">{{ product.name }}</a></h3></div><strong>{{ product.price|money }}</strong></div>
  <form method="post" action="{{ url_for('add_to_cart', product_id=product.id) }}"><input type="hidden" name="quantity" value="1"><button class="quick-add" {% if product.stock < 1 %}disabled{% endif %}>{{ 'Agregar a la bolsa' if product.stock else 'Agotado' }}</button></form>
</article>

